.generic-bg{
    background: no-repeat center/cover url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473");
}
.card{
    min-height: 500px;
    grid-template-rows: 1fr 1fr;
    display: grid;
}
.card p{
    color: #10CCEC;
}
.card h3{
    font-size: 20px;
    color: #162E5A;
}
.textdiv{
    padding: 30px;
    border: 2px solid #b5b5b5;
    /* this color looked different on the model so i changed it a bit */
    border-top: none;
}
@media (max-width:900px) {
    /* im not sure how the model worked but the last two cards
     seemed to dissapear on mobile (and i guess mid sizes too), the grid works perfectly thou, just remove this line */
    .noDisplay{
        display: none ;
    }
    .textdiv{
        border-left: none;
        border-right: none;
    }
   
}

